@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

body{
    object-fit: cover;
}

.background-color{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 41, 40);
}

header{
    font-family: Poppins;
    color: #fff;
    position: relative;
    width: 100%;
    height: 30%;
}

.class-h1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 10%;
    top: 3.5rem;
    margin-right: 40rem;
    font-family: Poppins;
    color: #fff;
}

.class-h1 .dois{
    margin-top: -1rem;
}

nav{
    width: 100%;
    height: 100%;
}


.links-wrapper{
    position: absolute;
    top: 25%;
    right: 5%;
    left: 54%;
    display: flex;
}

.links{
    font-size: 1.1rem;
    color: #fff;
    margin-right: 3rem;
}

a:hover{
    color: rgb(13, 155, 221);
}

 button{
    position: absolute;
    top: 4rem;
    right: 13rem;
    color: #fff;
    border-color:rgb(45, 54, 138);
    background-color: rgb(37, 35, 41);
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;   
    border-style:double;
    border-width: 2px;
}

 button:hover{
    background-color: rgb(29, 25, 25);
}

main{
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: Poppins;
}

main h1{
    color:rgb(67, 77, 168);
    font-weight: 600;
    font-size: 4.5rem;
}

main .dois{
    color: #fff;
    margin-top: -2.5rem;
    margin-bottom: 1rem;
}

main p{
    color: #fff;
    margin-bottom: 2.5rem;
}

form{
    position: relative;
}

form input{
    margin: 0;
    padding: 1.3rem 5rem;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    outline: none;
    font-size: 1rem;
}

submit{
    position: absolute;
    padding: 1.1rem 5rem;
    background-color: rgb(67, 77, 168);
    border: none;
    font-family: Poppins;
    font-weight:600;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    opacity: 1;
    margin-top: .3rem;
}

submit:hover{
    color: black;
}

img{
    position: absolute;
    top: 20rem;
    right: 30rem;
}
