@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    object-fit: cover;
}

.background-color{
    width: 100%;
    height: 100vh;
    background-color: rgb(35, 41, 40);
}

.top{
    font-family: Poppins;
    color: #fff;
    position: absolute;
    top: 7%;
    right: 5%;
    left: 54%;
    display: flex;
}

.class-h1 {
    display: flex;
    flex-direction: column;
    left: 10%;
    top: 3.5rem;
    position: absolute;
    margin-right: 40rem;
    font-family: Poppins;
    color: #fff;
}

.class-h1 .dois{
    margin-top: -1rem;
}

.links{
    font-size: 1.1rem;
    color: #fff;
    margin-right: 3rem;
}

.class-button button{
    position: absolute;
    top: 3.5rem;
    right: 12rem;
    color: #fff;
    border-color:rgb(45, 54, 138);
    background-color: rgb(37, 35, 41);
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;   
    border-style:double;
    border-width: 2px;
}

.class-button button:hover{
    background-color: rgb(29, 25, 25);
}

.Inscrição{
    position: absolute;
    top: 30%;
    left: 10%;
    font-family: Poppins;
}

.Inscrição h1{
    color:rgb(67, 77, 168);
    font-weight: 600;
    font-size: 4.5rem;
}

.Inscrição .dois{
    color: #fff;
    margin-top: -2.5rem;
    margin-bottom: 1rem;
}

.Inscrição p{
    color: #fff;
    margin-bottom: 2.5rem;
}

.input-box{
    position: relative;
}

.input-box input{
    margin: 0;
    padding: 1.3rem 5rem;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1.5rem;
    outline: none;
}

input{
    font-size: 1rem;
}

.label-input{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

input:focus ~ .label-input{
    font-weight: 600;
}

.img{
    position: absolute;
    top: 20rem;
    right: 30rem;
}

#last-element{
    padding: 1.1rem 5rem;
    background-color: rgb(67, 77, 168);
    border: none;
    font-family: Poppins;
    font-weight:600;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 15px;
    cursor: pointer;
    opacity: 1;
}

#last-element:hover{
    color: black;
}

a:hover{
    color: rgb(13, 155, 221);
}
